
input{
    padding: 12px 20px;
}

.search-button{
    background-color: rgb(7, 104, 7);
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    
}

.search-field{
    text-align: center;
    margin: 50px;
}
.search-button:hover{
    background-color: rgb(1, 20, 1);
    border: 2px solid green;
    color: black;
    cursor: progress;
}
