.food {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.food img {
    display: block;
    margin: 10px 0;
    border-radius: 6px;
}

 body {
            font-family: 'Inter', sans-serif;
            background-color: #f9f9f9;
}

h1 {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
            margin-bottom: 20px;

}
#foods {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 20px;
            padding: 20px;
}

.food {
            background-color: white;
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            transition: transform 0.2s ease;
}

.food:hover {
            transform: scale(1.02);
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.food h2 {
            font-size: 20px;
            margin-bottom: 10px;
            color: #333;
}

.food p {
            font-size: 16px;
            color: #666;
}


input{
    padding: 12px 20px;
}

.search-button{
    background-color: rgb(7, 104, 7);
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    
}

.search-field{
    text-align: center;
    margin: 50px;
}
.search-button:hover{
    background-color: rgb(1, 20, 1);
    border: 2px solid green;
    color: black;
    cursor: progress;
}
